*{
    padding: 0;
    outline: 0;
    border: 0;
}
h1,h2,h3,h4,p,span,a,button,input{
    font-family: "Roboto", sans-serif;
}
body{
    background-image: linear-gradient(#000, rgb(92, 204, 152), rgb(61, 175, 121));
}


/* imagen do cabeçalho */
.fotocabecalho{
  display: flex;
    justify-content: center;
    margin-top: 100px;
}
.imagen-cabecalho{
    max-width: 250px;
    border-radius: 150px;
    width: 250px;
    height: 250px;
    max-height: 250px;
 }
 
 .title h3{
   display: flex;
    justify-content: center;
     text-align: center;
     font-size: 30px;
    max-width: 50%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
 }
 .address{
     color: white;
     text-decoration: none;
    
 }
 .big-box{
     display: flex;
     justify-content: center;
 }
 .general-box{
     display: flex;
     flex-direction: row;
      justify-content: center; 
     border-width: medium;
     border-style: solid;
     border-radius: 15px;
     border-color: white;
     width: 650px;
    height: 50px;
    align-items: center;
    margin-top: 30px;   
 }
 .link-instagram{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     text-decoration: none;
     width: 100%;
 }
 .link-youtube{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
 }
 .link-twitch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;  
    width: 100%; 
 }
 .general-box:hover{
    background-color: rgb(211 226 230);
    transition: 0.2s;
 }
 
.box-instagram:hover .link-instagram .imag-networks-instagram svg, .box-instagram:hover .link-instagram .text-networks p{
    color:  #517fa4;
}
.box-youtube:hover .link-youtube .imag-networks-youtube svg, .box-youtube:hover .link-youtube .text-networks p{
    color: #bb0000;
}
.box-twitch:hover .link-twitch .imag-networks-twitch svg, .box-twitch:hover .link-twitch .text-networks p{
    color: #6441a5;
}
 .imag-networks{ 
    margin-right: 0.75rem;
    display: flex;
     font-size: 35px; 
     color: white;  
 }
 .text-networks{
     display: flex;
     font-size: 27px;
     color: white;
 }
 .imag-networks-instagram {
    margin-right: 0.75rem;
    display: flex;
     font-size: 35px; 
     color: white;  
}  
.imag-networks-youtube{
    margin-right: 0.75rem;
    display: flex;
     font-size: 35px; 
     color: white;  
}
.imag-networks-twitch{
    margin-right: 0.75rem;
    display: flex;
     font-size: 35px; 
     color: white;    
}
 .Members-address{
     display: flex;
     flex-direction: row;
     justify-content: space-between;  
     width: 50%;
     margin: auto;
     margin-top: 50px;
     margin-bottom: 100px;
 }
 .Members-address a{
     color: white;
     text-decoration: none;
 }

 @media screen and (max-width: 600px) {
    .title h3{
        font-size: 22px;  
    }

    .big-box{
        margin: 0 15px;
    }

    .Members-address{  
        flex-direction: column;
        align-items: center;
        width: 100%;   
    }
  }


